! Updated by:   Aaron Ang
! Last updated: 25-03-2015
! Description:  .Xresources

! Colors
! Scheme: Base16 Custom Flat
#define base00 #263238
#define base01 #37474F
#define base02 #7F8C8D
#define base03 #95A5A6
#define base04 #BDC3C7
#define base05 #E0E0E0
#define base06 #F5F5F5
#define base07 #ECF0F1
#define base08 #E74C3C
#define base09 #E67E22
#define base0A #F1C40F
#define base0B #2ECC71
#define base0C #1ABC9C
#define base0D #3498DB
#define base0E #9B59B6
#define base0F #BE643C

URxvt*.foreground:   base05
URxvt*.background:   base00
URxvt*.cursorColor:  base05

URxvt*.color0:       base00
URxvt*.color1:       base08
URxvt*.color2:       base0B
URxvt*.color3:       base0A
URxvt*.color4:       base0D
URxvt*.color5:       base0E
URxvt*.color6:       base0C
URxvt*.color7:       base05

URxvt*.color8:       base03
URxvt*.color9:       base09
URxvt*.color10:      base01
URxvt*.color11:      base02
URxvt*.color12:      base04
URxvt*.color13:      base06
URxvt*.color14:      base0F
URxvt*.color15:      base07

URxvt*intensityStyles: false 

! Font
URxvt*.font: xft:DejaVu Sans Mono:size=12

! Scrollbar
URxvt*.scrollBar:           false
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true
